html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.position-ref {
    position: relative;
}

.search{
    padding-top: 6px;
    margin-top: 6px;
}

.movie{
    padding: 30px 10px;
}

.movie .image {
    padding: 0 25px;
}

.movie .description{
    padding: 0 25px;
}

.pagination{
    padding: 20px 0;
    margin: 0 auto;
}

.next {
    float: right;
    margin-right: 10px;
}

.previous{
    float: left;
    margin-left: 10px;
}

.footer{
    padding: 10px 0;
    margin: 0 auto;
    background: #f1f1f1;
    bottom: 0;
}

.footer div p{
    float: right;
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .movie{
        padding: 20px 10px;
    }

    .movie .description{
        margin-top: 10px;
        padding: 0 25px;
    }
}